<header>
  <img src="/imgs/tires.svg" alt="LOGO">
  <h2>Express Tires</h2>
</header>
<form method="POST">
  <h1>Create your account</h1>
  {{!-- Email Input --}}
  <label>Email address</label>
  <input 
    type="email" name="email" required 
    spellcheck="false" autocomplete="off" 
    placeholder="erin@example.com"
    {{#if email}} value="{{email}}" {{/if}}
    {{#if errors.email}} class="error" {{/if}}
  >
  {{#if errors.email}} <small>{{errors.email}}</small> {{/if}}
  {{!-- Password Input --}}
  <label>Password</label>
  <input 
    type="password" name="password" 
    required minlength="8" maxlength="100"
    {{#if errors.password}} class="error" {{/if}}
    {{#if password}} value="{{password}}" {{/if}}
   >
  {{#if errors.password}} <small>{{errors.password}}</small> {{/if}}
  {{!-- Password Input --}}
  <label>Password confirmation</label>
  <input 
    type="password" name="passwordc" 
    required minlength="8" maxlength="100"
    {{#if errors.passwordc}} class="error" {{/if}}
    {{#if passwordc}} value="{{passwordc}}" {{/if}}
   >
  {{#if errors.passwordc}} <small>{{errors.passwordc}}</small> {{/if}}
  {{!-- Submit Button --}}
  <input type="submit" value="SIGN UP" style="margin-top:24px;">
  <a href="/signin" id="link">
    Already have an account ? <span>SIGN IN</span>
  </a>
</form>